.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 200px;
}
h1 {
  display: flex;
  justify-content: center;
}
.input {
  display: flex;
  justify-content: center;
}
.date {
  margin-right: 50px;
  padding: 7px 15px;
}
.button {
  padding: 7px 15px;
}
.result {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
